<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    {{> head}}
  </head>
  <body>
    {{> header}}

    <main class="main home">
      <div class="container">
        <figure class="home-avatar">
          <img src="/iannis.jpeg" alt="Avatar">
        </figure>

        <h1 class="home-title">
          Hello there, my name is Iannis.
        </h1>

        <p class="home-introduction">
          I’m a <strong>Product Quality Tester</strong> spending my time smashing any object against the floor.
          <br>
          My aim is to shape the <strong>future of digital learning</strong> at <a href="http://www.codeatuni.com/">Code at Uni</a>.
        </p>
      </div>
    </main>
  </body>
</html>